@charset "utf-8";

/* home_main */
@font-face {
   font-family: 'establishRoomNo703OTF';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

/* header h1 */
@font-face {
   font-family: 'RIDIBatang';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}



/* h2 */
@font-face {
   font-family: 'NEXONFootballGothicBA1';
   src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXONFootballGothicBA1.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

/* about, portfolio, contact */
@font-face {
   font-family: 'ONE-Mobile-Title';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
/* 닷홈엔 본론 글꼴 적용이 안됨.확인하기 */
