@charset "utf-8";

:root {
   background: none;
   --main-color: #E7CCA7;
   --y: 24%;
   --x: 42%;
   --maskSize: 13%;
   user-select: none;
}

/* header */
header {
   position: absolute;z-index: 100;
   left: 0;right: 0;top: 15px;
   display: flex;
   /* justify-content: space-between;
   align-items: center; */
   padding: 0 3%;
}
header h1 {
   font-size: 24px;
   /* font-weight: 700; */
}
header h1 a {display: flex;align-items: center;gap: 15px;}
header h1 img {
   padding: 10px;
   width: 100px;height: 100px;
   border: 1px solid #000;
   border-radius: 50%;
   background-color: #FFF;
}
header span {
   font-family: 'RIDIBatang';
   font-size: 1.2em;
}
header .menu {
   position: fixed;
   z-index: 1000; /*header 인덱스값보다 높여 메뉴가 맨상단에 위치하게 하기위함*/
   right: 20px;top: 15px;
   padding: 30px 30px;
}

.menu #gnb {
   display: flex;
   align-items: flex-start;
   gap: 40px;
   font-family: 'NEXONFootballGothicBA1';
   font-size: 26px;
}
.menu #gnb li a:hover {
   color: var(--main-color);
   text-shadow: 1;
}


/* home */
.home {position: relative;height: 100vh;}
.home .mask {
   width: 100%;height: 100vh;z-index: 5;
   position: absolute;left: 0;top: 0;

   mask-image: radial-gradient(circle at var(--x, 50%) var(--y, 50%), #000 var(--maskSize, 0), transparent 0);
}
.home .home_bg {
   position: relative;height: 100vh;overflow: hidden;
}
.home .home_main {
   position: absolute;z-index: 10;
   display: flex;flex-direction: column;
   left: 0;right: 0;top: 50%;bottom: 10%;
   padding: 0 12%;
   gap: 20px;
   font-size: 130px;
   font-family: 'establishRoomNo703OTF';
   transform: translateY(-50%);
}
.home_main span {
   color: #292626;
   letter-spacing: 2px;
}
.home_main p {
   color: #8D7540;
   letter-spacing: 2px;
   align-self: flex-end;
}
.home_icon i {
   position: absolute;
   bottom: -270px;
   left: 50%;
   padding: 40px;
   font-size: 40px;
   cursor: pointer;
   /* transition: 0.3s ease; */

}
.home_icon i:hover {
   animation-name: icon;
   animation-duration: infinite;
   animation-iteration-count: infinite;
}
.home_icon i:nth-child(n):hover {
   animation-direction: alternate-reverse;
   transform: scale(1.2);
}
@keyframes icon {
   0% {width: 20%;}
   100% {width: 50%;}
}


/* about */
.about {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 90%;
   padding: 80px 0;
   margin: 0 100px;
   font-family: 'MaplestoryOTFBold';
}
/* 왼쪽과 오른쪽 정보를 나누는 두 열 레이아웃 */
.about .about_content ,
.about_right_wrap .about_right {
   display: flex;
   flex-direction: column;
   column-count: 2;
   flex-basis: 45%;
   font-family: 'ONE-Mobile-Title';
}
/* 개별 섹션들 스타일링 */
.about_left li, .about_right li {
   list-style: none;
}
.about .about_content {
   margin: 0;
   gap: 20px;
}
/* 자기소개 이미지 스타일 */
.about .about_content img {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 300px;
   max-height: 300px;
   width: 100%;height: 100%;
   border-radius: 50%;
}
h2 {
   display: flex;
   justify-content: flex-start;
   text-decoration: underline var(--main-color) 4px;
   text-underline-offset: 10px;
   font-size: 40px;font-weight: bold;
   font-family: 'NEXONFootballGothicBA1';
}

/* 왼쪽 단락: 프로필 및 스킬 */
.about_content .about_left_wrap .about_left {
   display: flex;
   flex-direction: column;
}
.about_left_wrap .about_left h3 {
   padding-left: 200px;
   margin: 20px;
   font-size: 1.5em;
   font-weight: bold;
   text-decoration: underline #000 3px;
   text-underline-offset: 10px;
}
.about_left_wrap .about_left p {
   text-align: left;
   margin: 10px 240px;
   font-size: 18px;
}
.about_left_wrap .about_left .e-mail {
   cursor: pointer;
   letter-spacing: 1;
}
.about_left_wrap .about_left .e-mail:hover {color: var(--main-color);}


/* 스킬 */
.about_content .about_left .skill {
   display: inline-block;
   text-align: left;
   margin-left: 230px;
}
.about_content .about_left .skill p {
   display: inline-flex;
   margin: 5px;
   padding: 6px;
   border-radius: 15px;
}

/* 오른쪽 단락: 경력, 교육, 자격증 */
.about_right {
   display: flex;
   flex-basis: 45%;
   gap: 30px;
}

/* about_right 박스 간격 조정 */
.experience, .education, .licence {
   background-color: #f9f9f9;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* about_right */
.about_right .experience span,
.about_right .education span,
.about_right .licence span {
   display: inline-block;
   font-size: 1.5em;
   font-weight: bold;
   margin-bottom: 10px;
}
/* .about_right_wrap .about_right .experience span{
   background-image: url(../img/experience_line.png) no-repeat;
} */
.about_right_wrap .about_right .data {
   margin-left: 8px;
   margin-bottom: 8px;
   font-size: 1.1em;
   color: #36363b;
}
.about_right_wrap .about_right .data::before {
   content: "○ ";
}
.about_right_wrap .about_right p {
   margin-left: 30px;
}

/* 모바일 : 화면이 작아질 때 열을 쌓기 */
@media (max-width: 1035px) {
   .about_content {
      flex-direction: column;
      gap: 30px;
   }
   .about_left, .about_right {
      flex-basis: 80%;
   }
}
@media (max-width: 768px) {
   .about_content {
      flex-direction: column;
      gap: 40px;
   }
   .about_left, .about_right {
      flex-basis: 100%;
   }
}


/* portfolio */

/* 공통 */

.swiper_wrapper {
   width: 100%;height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'ONE-Mobile-Title';
   font-size: 16px;
   line-height: 1.5;
}
.hancom_swiper_slide img,
.kaist_swiper_slide img,
.webpublic_swiper_slide img,
.HanwhaCulture_swiper_slide img,
.Kumho_swiper_slide img {
   width: 90%;height: 100%;
   object-fit: cover; /* 이미지 비율 유지하며 꽉 채우기 */
   /* border: 1px solid #000; */
}


/* 한컴 */
.hancom_swiper_slide {


}

/* hancom_content */
.hancom_swiper_slide .hancom_content {
   background-color: #f7f7f7;
   column-count: 2;
   flex-basis: 70%;
   width: 70%;
   border: 1px solid #000;
}
.hancom_swiper_slide .hancom_content h2 {
   margin-left: -40px;
   margin-bottom: 50px;
}

/* img */
.hancom_content .hancom_image img {
   display: block;
   max-width: 100%;
   transition: all 0.3s;
}

.hancom_content .hancom_image:hover img {
   transform: scale(1.1);
}


/* wrap */
.hancom_wrap {padding: 200px 5px;}
.hancom_wrap .hancom_text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
}
.hancom_wrap .hancom_text h3 {
   font-size: 2.2em;
   font-weight: bold;
   color: #003390;
}

/* button */
.hancom_button {
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 40px;
   font-size: 15px;
}
.hancom_button button {
   background-color: transparent;
   border: 1px solid #000;
   border-radius: 20px;
   padding: 10px 15px;
   cursor: pointer;
   transition: background-color 0.8s ease;
}
.hancom_button button:hover {
   transition: background-color 0.8s ease;
   background-color: #0056b3;
   color: #FFF;
   border: none;
}
.hancom_button a {
   text-decoration: none;
   color: inherit;
}


/* 카이스트 */
.kaist_swiper_slide {background-color: #d3e3ec;}

/* kaist_content */
.kaist_swiper_slide .kaist_content {
   column-count: 2;
   flex-basis: 70%;
}
.kaist_swiper_slide .kaist_content h2 {
   margin: 30px 0;
}

/* img */
.kaist_content .kaist_image img {
   /* display: block; */
   max-width: 100%;
   transition: all 0.3s;
}
.kaist_content .kaist_image:hover img {
   transform: scale(1.1);
}

/* wrap */
.kaist_wrap {padding: 60px 0;}
.kaist_wrap .kaist_text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px; /*h3, span, p 간격*/
}
.kaist_wrap .kaist_text h3 {
   font-size: 2.2em;
   font-weight: bold;
   color: #0a7038;
}

/* button */
.kaist_button {
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 40px;
   font-size: 15px;
}
.kaist_button button {
   background-color: transparent;
   border: 1px solid #4d545c;
   color: #4d545c;
   border-radius: 20px;
   padding: 10px 15px;
   cursor: pointer;
   transition: background-color 0.8s ease;
}
.kaist_button button:hover {
   transition: background-color 0.8s ease;
   background-color: #0a7038;
   color: #FFF;
   border: none;
}
.kaist_button a {
   text-decoration: none;
   color: inherit;
}


/* 개인포폴 */
.webpublic_swiper_slide {background: #B6CCBD;}

/* webpublic_content */
.webpublic_swiper_slide .webpublic_content {
   column-count: 2;
   flex-basis: 70%;
}
.webpublic_swiper_slide .webpublic_content h2 {
   margin: 30px 0;
}

/* img */
.webpublic_content .webpublic_image img {
   display: block;
   max-width: 100%;
   transition: all 0.3s;
}
.webpublic_content .webpublic_image:hover img {
   transform: scale(1.1);
}

/* wrap */
.webpublic_wrap {padding: 60px 0;}
.webpublic_wrap .webpublic_text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
}
.webpublic_wrap .webpublic_text h3 {
   font-size: 2.2em;
   font-weight: bold;
   color: #8D7540;
}

/* button */
.webpublic_button {
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 40px;
   font-size: 15px;
}
.webpublic_button button {
   background-color: transparent;
   border: 1px solid #7e786d;
   color: #7e786d;
   border-radius: 20px;
   padding: 10px 15px;
   cursor: pointer;
   transition: background-color 0.8s ease;
}
.webpublic_button button:hover {
   transition: background-color 0.8s ease;
   background-color: #8D7540;
   color: #FFF;
   border: none;
}
.webpublic_button a {
   text-decoration: none;
   color: inherit;
}


/* 한화문화재단 */
.HanwhaCulture_swiper_slide {background: #FFD58D;}

/* HanwhaCulture_content */
.HanwhaCulture_swiper_slide .HanwhaCulture_content {
   column-count: 2;
   flex-basis: 70%;
}
.HanwhaCulture_swiper_slide .HanwhaCulture_content h2 {
   margin: 30px 0;
}

/* img */
.HanwhaCulture_content .HanwhaCulture_image img {
   display: block;
   max-width: 100%;
   transition: all 0.3s;
}
.HanwhaCulture_content .HanwhaCulture_image:hover img {
   transform: scale(1.1);
}

/* wrap */
.HanwhaCulture_wrap {padding: 60px 0;}
.HanwhaCulture_wrap .HanwhaCulture_text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
}
.HanwhaCulture_wrap .HanwhaCulture_text h3 {
   font-size: 2.2em;
   font-weight: bold;
   color: #257D80;
}

/* button */
.HanwhaCulture_button {
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 40px;
   font-size: 15px;
}
.HanwhaCulture_button button {
   background-color: transparent;
   border: 1px solid #585e5a;
   color: #585e5a;
   border-radius: 20px;
   padding: 10px 15px;
   cursor: pointer;
   transition: background-color 0.8s ease;
}
.HanwhaCulture_button button:hover {
   transition: background-color 0.8s ease;
   background-color: #257D80;
   color: #FFF;
   border: none;
}
.HanwhaCulture_button a {
   text-decoration: none;
   color: inherit;
}



/* 금호석유화학 */
.Kumho_swiper_slide {
   background: #cfcfcf;
}

/* webpublic_content */
.Kumho_swiper_slide .Kumho_content {
   column-count: 2;
   flex-basis: 70%;
}
.Kumho_swiper_slide .Kumho_content h2 {
   margin: 30px 0;
}

/* img */
.Kumho_content .Kumho_image img {
   display: block;
   max-width: 100%;
   transition: all 0.3s;
}
.Kumho_image:hover img {
   transform: scale(1.1);
}

/* wrap */
.Kumho_wrap {padding: 60px 0;}
.Kumho_wrap .Kumho_text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
}
.Kumho_wrap .Kumho_text h3 {
   font-size: 2.2em;
   font-weight: bold;
   color: #4F6A65;
}
.Kumho_wrap .Kumho_text p {font-size: 15px;}

/* button */
.Kumho_button {
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 40px;
   font-size: 15px;
}
.Kumho_button button {
   background-color: transparent;
   border: 1px solid #717977;
   color: #717977;
   border-radius: 20px;
   padding: 10px 15px;
   cursor: pointer;
   transition: background-color 0.8s ease;
}
.Kumho_button button:hover {
   transition: background-color 0.8s ease;
   background-color: #4F6A65;
   color: #FFF;
   border: none;
}
.Kumho_button a {
   text-decoration: none;
   color: inherit;
}
/* swiper-silder */
.swiper_pagination {

   display: flex;
   justify-content: center;
}
.swiper_pagination span
.swiper_button_prev, .swiper_button_next {
   display: flex;

   border: 1px solid #000;
}
/* .swiper_button_next {} */


/* contact */
.contact {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;height: 80vh;
   background-color: #292626;
   color: white;
   font-family: 'DungGeunMo';
   }
.contact_inner {
   position: relative;
   width: 70%;
   margin-left: 100px;
}
/* 소개 */
.contact_introduction p {
   display: flex;
   justify-content: center;
   margin: 15px 0;
   font-size: 25px;
}

/* QR 코드 스타일 */
.contact_introduction img {
   border-radius: 5px;
   margin: 30px auto;
   width: 200px;height: 200px;
}

/* 아이콘 리스트 스타일 */
.contact_inner .contact_icon {
   display: flex;
   color: #f9f9f9;
   justify-content: center;
   align-items: center;
   list-style-type: none;
   gap: 30px;
}
.contact_icon li {
   padding: 6px;
   transition: transform 0.3s; /* 애니메이션 효과 */
   list-style: none;
}
.contact_icon li:hover {
   transform: scale(1.1); /* 호버 시 확대 효과 */
}

/* contact_footer */
.footer_copyright {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
.footer_copyright .copyright {
   position: absolute;
   left: 50%;
   transform: translateX(-55%);
   margin-bottom: -18%;
   letter-spacing: 1;
   font-size: 17px;
   font-weight: 1;
}
.footer_top {
   position: relative;
   left: 110px;
   bottom: -38%;
}
.footer_top button {
   position: sticky;
   font-size: 35px;
   padding: 13px;
   border-radius: 50%;
   cursor: pointer;
   border: 2px solid #FFF;
}
