
/* *, *::before, *::after {
   box-sizing: border-box;
} */
 * {
   margin: 0;padding: 0;
   /* line-height: 1; */
   box-sizing: border-box;
   font: inherit;color: inherit;
}
body {
   -webkit-font-smoothing: antialiased;
}
a {
   text-decoration: none;
}
img, picture, video, canvas, svg {
   display: block;
   max-width: 100%;
}
/* input, textarea, select {
   outline: none;
} */
button {
   background: none;
   border: none;
}
p, h1, h2, h3 {
   overflow-wrap: break-word;
}
ul, li {
   list-style: none;
}
/* table {
   border-collapse: collapse;
} */